<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>Unity 講義まとめページ - {{ page.title }}</title>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
</head>

<body>

<div id="site">
  <div id="title"></div>
  <div id="navigation">
    <ul>
      <li><a href="/index.html">HOME</a></li>
      <li><a href="/gp10.html">GP10</a></li>
      <li><a href="/gp11.html">GP11</a></li>
      <li><a href="http://www.sbcr.jp/products/4797365337.html">BOOK</a></li>
    </ul>
  </div>
  
  <div id="post">
  {{ content }}
  </div>
  
  <div id="footer">© 2011 KEIJIRO TAKAHASHI</div>
</div>
</body>
</html>
